ConnectionStrings__DefaultConnection=Server=.\\SQLEXPRESS;Database=QuanLyPhongTroDb;Trusted_Connection=True;TrustServerCertificate=True;
Jwt__Key=QuanLyPhongTro_SuperSecretKey_Min32Chars_ChangeInProd!
Jwt__Issuer=QuanLyPhongTro
Jwt__Audience=QuanLyPhongTroClient
Jwt__AccessTokenMinutes=60
Jwt__RefreshTokenDays=7
EmailSettings__SmtpHost=smtp.gmail.com
EmailSettings__SmtpPort=587
EmailSettings__SmtpUser=gemini190602@gmail.com
EmailSettings__SmtpPassword=bcuw gwjo kvxz ekwd
EmailSettings__FromEmail=gemini190602@gmail.com
EmailSettings__FromName=Hệ thống trọ EZRoom
